name: ci
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go:
          - '1.16' # oldest supported
          - '1.23' # oldstable
          - '1.24' # stable
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - name: Get go_js_wasm_exec
        run: |
          mkdir -p ${HOME}/.local/bin
          wget https://raw.githubusercontent.com/golang/go/go${{ matrix.go }}/misc/wasm/go_js_wasm_exec \
            -O ${HOME}/.local/bin/go_js_wasm_exec
          wget https://raw.githubusercontent.com/golang/go/go${{ matrix.go }}/misc/wasm/wasm_exec.js \
            -O ${HOME}/.local/bin/wasm_exec.js
          chmod +x ${HOME}/.local/bin/go_js_wasm_exec
      - name: Run go test
        run: |
          GOOS=js GOARCH=wasm go vet ./...
          GOOS=js GOARCH=wasm go build ./...
          GOOS=js GOARCH=wasm go test ./... -exec=${HOME}/.local/bin/go_js_wasm_exec
  tidy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.16' # oldest supported
      - name: Check tidied
        run: |
          go mod download
          go mod tidy
          git diff --exit-code go.mod
